{% extends 'base.html' %}

{% block title %}{{ article.title | striptags }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}

{% block meta %}{% endblock %}

{% block content %}
	<h1 class="title"><a href="/{{ article.url }}" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
	<time class="date" datetime="{{ article.date }}">{{ article.locale_date }}</time>
	<div class="content">
		{{ article.content }}
	</div>

	{% if article.next_article or article.prev_article %}
	<div id="related-articles">
		{% if article.next_article %}
		<a href="/{{ article.next_article.url}}" id="next-neighbour">&laquo; {{ article.next_article.title | striptags }}</a>
		{% endif %}
		{% if article.prev_article %}
		<a href="/{{ article.prev_article.url}}" id="prev-neighbour">{{ article.prev_article.title | striptags }} &raquo;</a>
		{% endif %}
	</div>
	{% endif %}

	{% if DISQUS_SITENAME and article.status != "draft" %}
	<hr>

	<!-- Disqus -->
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function() {
		this.page.url = '{{ SITEURL }}/{{ article.url }}';
		this.page.identifier = '{{ article.url }}';
	};

	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	{% endif %}
{% endblock %}
